
*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

/* Page-1 */
.upper-container{width: 50%; height: 20%; margin: 50px auto; position: relative; padding: 30px;}

.upper-container1{position: absolute; left: 5px; bottom: 0px;}
#task{font-size: 40px; font-weight: bold;}
#lists{font-size: 40px; color: grey; opacity: 0.5;}

.upper-container2{position: absolute; right: 5px; bottom: 0px;}
#addlist{margin-left: 8px; font-size: 30px; opacity: 0.5;}

/* For Cards */
.card{width: 30%; height: 50vh; position: relative; border: 1.5px solid orange; box-shadow: 5px 5px 8px gray; border-radius: 10px; margin-top: 4px;}
.card-head{width: 85%; border-bottom: 2px solid gray; position: absolute; left: 15%; margin-top: 10px; padding: 8px; color: orange; font-size: 20px;}
.card-body{width: 85%; margin-top: 90px; position: absolute; left: 15%; text-decoration: line-through; color: orange; font-size: 20px; font-weight: bold;}
.card-check{margin-top: 135px; position: absolute; left: 5%; font-size: 20px;}
#check{height: 17px; width: 17px;}
.flex{display: flex; justify-content: space-between; width: 55%;  height: 20%;  margin: 50px auto;  padding: 25px;}

/* Page-2 */
.page2-upper-cont1{text-align: center; margin-top: 20px; position: relative;}
.page2-upper-cont1::before{content: ""; display: block; width: 150px; height: 2px; background-color: grey; position: absolute; left: 31.5%; top:50%;}
.page2-upper-cont1::after{content: ""; display: block; width: 150px; height: 2px; background-color: grey; position: absolute; right: 31.5%; top:50%;}

.page2-back-arrow{text-align: center; margin-top: 40px;}
.page2-back-arrow-text{font-size: 30px; opacity: 0.6;}

.page2-lower-cont{width: 880px;  height: 30%;  position: relative; padding: 20px; } 
.page2-card-align{position: absolute; left: 62%;}
.page2-card-plus-circle{position: absolute; right: 4px; bottom: 4px;}

/* Page-1-Link */
a.heading-link{text-decoration: none; color: orange;}
a.heading-link:hover{color: green;}
a.heading-link:active{color: red;}

a.addlist-link{text-decoration: none; color: grey;}
a.addlist-link:hover{
    color: green;
}
a.addlist-link:active{
    color: red;
}
/* Page-2-Link */
a.arrow-link{text-decoration: none; color: black; opacity: 0.6;}
a.arrow-link:hover{color: grey;}

/* Page-3 & Page-4 for filter */
.not-show{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

/* Page-3 & Page-4 for Pop-Up */
.pop-up-card-page-4{
    position: absolute;
    left: 37%;
    border: 1.5px solid orange;
    border-radius: 10px;
    box-shadow: 4px 7px 8px grey;
    width: 25%;
    height: 25%;
    background-color: white;
}
.pop-up-card-page-3{
    position: absolute;
    left: 37%;
    bottom: 50%;
    border: 1.5px solid orange;
    border-radius: 10px;
    box-shadow: 4px 7px 8px grey;
    width: 25%;
    height: 25%;
    background-color: white;
}
.pop-up-head{
    text-align: center;
    padding: 5px;
    color: orange;
    margin-top: 15px;
    font-size: 15px;
}
.pop-up-textbox{
    text-align: center;
    width: 80%;
    margin: 20px;
    margin-left: 30px;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 4px;
}
.pop-up-button{
    background-color: orange;
    width: 22%;
    height: 18%;
    color: white;
    margin-left: 133px;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 24px;
}
